.banner img {
  max-height: 3em;
  width: 100%;
  margin-bottom: -10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.67); }

.nameplate {
  background-color: white;
  color: #6284CE;
  text-align: center;
  padding: 5px 0px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.67); }

.nameplate h1 {
  font-size: 3em;
  text-shadow: 1px 1px 3px #000000;
  margin-top: 30px;
  margin-bottom: 20px; }

.nameplate h3 {
  font-size: 2em;
  text-shadow: 1px 1px 3px #000000;
  margin-top: 0px;
  margin-bottom: 25px; }

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.icons img {
  margin-top: 1.5em;
  margin-bottom: 1.15em;
  max-width: 2em; }
  @media (min-width: 50em) {
    .icons img {
      margin-top: 30px;
      margin-bottom: 30px;
      max-width: 5em; } }

.icons a {
  margin-right: 2em; }
  @media (min-width: 50em) {
    .icons a {
      margin-right: 4em; } }

.icons a:last-of-type {
  margin-right: 0px; }

.icons img:last-of-type {
  margin-right: 0px; }

.icons img:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.67); }

.whitespace {
  background-color: white;
  margin-left: 10px; }
  .whitespace p {
    padding: 0.25em 0.75em;
    font-size: 1.15em; }
    @media (min-width: 50em) {
      .whitespace p {
        font-size: 1em; } }
    @media (min-width: 36em) {
      .whitespace p {
        font-size: 1em; } }
  .whitespace h5 {
    font-size: 2em;
    padding: 0.25em 0.75em; }
    @media (min-width: 50em) {
      .whitespace h5 {
        font-size: 1.25em; } }
    @media (min-width: 36em) {
      .whitespace h5 {
        font-size: 1.25em; } }

.bigpicture img {
  max-width: 100%;
  height: auto; }

.font-ensmallen {
  font-size: 1em; }

.part-one {
  padding-bottom: 4em; }

.part-two, .part-three {
  padding-bottom: 3em; }

.spacer {
  background-color: #6284CE;
  height: 30px; }

.onblue h5 {
  color: white;
  padding-top: 0;
  text-align: center; }

.onblue a {
  color: white; }

.onblue a:hover {
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.67); }

.home img {
  max-width: 17em;
  margin: 0 auto;
  display: block; }

.home a {
  margin-right: 5em; }

.home a:last-of-type {
  margin-right: 0px; }

.home a:hover {
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.67); }

a:hover {
  text-shadow: 1px 1px 3px #ffffff; }

.banner-bump {
  margin-top: 60px; }

.card-title {
  height: 60px; }

.card-image {
  border-radius: 5px;
  border: 12px solid white; }

.card {
  border-radius: 5px;
  height: 350px; }

.contain {
  width: 1000px;
  margin: 0 auto;
  height: 600px;
  overflow: auto;
  padding-right: 17px; }

.card-content {
  height: 300px;
  overflow: auto;
  padding: 5px 20px; }

.tech {
  text-indent: 25px; }

.tech-icons {
  background-color: white;
  margin: 0 auto; }

.tech-icons img {
  max-height: 50px;
  padding: 5px; }

.card-reveal {
  border-radius: 10px; }

.search {
  height: 70px;
  background-color: white;
  z-index: 3;
  border-radius-bottom: 5px;
  margin-bottom: 40px; }

.tinyicon {
  float: right;
  padding-right: 20px; }
  .tinyicon img {
    max-width: 25px;
    vertical-align: middle; }

.samebackground {
  padding: 3em 0;
  background-color: #6284CE; }

html {
  font-family: 'Numans', sans-serif; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #6284CE;
  overflow: scroll; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

h5, h6 {
  padding-top: 10px; }

.resume {
  display: block;
  margin: 0 auto; }

.bigwhite {
  margin-top: 80px;
  background-color: white;
  max-width: 800px;
  font-size: 1em;
  padding: 40px 40px; }
  .bigwhite .classroom ul {
    padding: 0 30px; }
  .bigwhite .classroom li {
    list-style-type: square; }
  .bigwhite .classroom p {
    padding: 10px 0; }
  .bigwhite img {
    max-width: 300px;
    display: block;
    margin: 0 auto; }
  .bigwhite .deep {
    padding-top: 25px; }
