body {
  background-color: #6284CE;
  overflow: hidden; }

.classroom {
  padding: 0 10px; }

.classroom li {
  list-style-type: square;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em; }

.bigwhite {
  margin-top: 40px;
  background-color: white;
  max-width: 800px;
  font-size: 1em;
  padding: 40px 40px; }
