.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icons img {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 5em;
  //margin-right: 100px;
}

.icons a {
  margin-right: 100px;
}

.icons a:last-of-type {
  margin-right: 0px;
}

.icons img:last-of-type {
  margin-right: 0px;
}

.icons img:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.67);
}
