a:hover {
  text-shadow:  1px 1px 3px #ffffff;
}

.banner-bump {
  margin-top: 60px;
}

.card-title {
  height: 60px;
}

.card-image {
  border-radius: 5px;
  border: 12px solid white;
  height: 196px;
}

.card {
  border-radius: 5px;
  height: 450px;
}

.contain {
  width: 1000px;
  margin: 0 auto;
  height: 600px;
  overflow: auto;
  padding-right: 17px;
}

.card-content {
  height: 150px;
  padding: 5px 20px;
}

.team img {
  max-width: 20px;
}

.tech {
  text-indent: 25px;
}

.tech-icons {
  background-color: white;
  margin: 0 auto;

}
.tech-icons img {
  max-height: 50px;
  padding: 5px;
}

.card-reveal {
  border-radius: 10px;
}

.search {
  height: 70px;
  background-color: white;
  z-index: 3;
  border-radius-bottom: 5px;
  margin-bottom: 40px;
}

.tinyicon {
  img {
    max-width: 25px;
    vertical-align: middle;
  }
  float: right;
  padding-right: 20px;
}

