.squares {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.squares img {
  max-width: 20em;
  margin-right: 0.25em;
  border-radius: 50px;
}

.squares img:last-of-type {
  margin-right: 0px;
}

.squares a {
  margin-right: 100px;
}

.squares a:last-of-type {
  margin-right: 0px;
}

.squares img:hover {
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.67);
}
