
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
    background-color: steelblue;
    overflow: hidden;
}

bigwhite {
  background-color: white;
  margin-top: 50px;
  margin-right: 66px;
  max-width: 800px;
  font-size: 2em;
}