<div class="container">

  <div class="bigwhite">
    <p >I came to coding when, as a 7th grade English teacher, I realized that designing and creating technology tools had not only taken over the bulk of my prep time (and become the most fascinating aspect of my job).  While I miss the excitement of my middle school students, I'm completely in love with the many-faceted challenges of full-stack coding.</p>

    <span>How I incorporated technology in my classroom:</span>
      <ul>
        <li>Built an extensive class website to provide information for students, parents, and tutors</li>
        <li>Created multiple web-based assessments and practice activities for literature, grammar, and vocabulary</li>
        <li>Used Google documents to monitor and guide students during the writing process</li>
        <li>Assisted multiple colleagues with creation and maintenance of their own teacher web pages</li>
        <li>Created a grade-level hub for centralized access each teacher’s website and each of our 80 students' digital portfolios</li>
      </ul>

    <p>I love sharing my interest in technology, especially when it comes to integrating technology in the classroom.  I led several professional development sessions for my colleagues at University School, but I'm most proud of a workshop entitled "Paperless Papers: Google Apps in the Middle School Classroom," which Jake Wilson (then USN's technology coordinator) and I presented at the Biennial Technology Conference for the Tennessee Association of Independent Schools (TAIS).  My proposal "Flip It, Flip It Well: Using GAFE for Grammar Instruction" was accepted for presentation at the 2014 conference of the International Society for Technology in Education (ISTE).</p>

  </div>

  <div>
    <p>I'm an avid reader, self-taught knitter, tool-collecting carpenter, fearless seamstress, finally organized polymer artist, ever hopeful guitar student, unbelievably lucky wife, and sometimes exhausted mom of two teenagers.</p>
  </div>
</div>