<div ng-include="'./partials/banner.html'"></div>

<div class="container">
  <div class="bigwhite banner-bump">
   <h4>From English Teacher to Web Developer</h4>
    <p >I came to coding when, as a 7th grade English teacher, I realized that designing and creating technology tools had taken over the bulk of my prep time (and become the most fascinating aspect of my job).  While I miss the excitement of my middle school students, I'm completely in love with the many-faceted challenges of full-stack coding.</p>

    <div class="classroom">
    <h5>Incorporating technology in my classroom:</h5>
      <ul class="classroom">
        <li>Paired with USN Technology Coordinator to create and teach tech/literature integrated classes.</li>
        <li>Piloted exclusive use of Google Docs for all writing assignments.</li>
        <li>Used Google documents to monitor and guide students during the writing process</li>
        <li>Built an extensive class website to provide information for students, parents, and tutors</li>
        <li>Created web-based assessments and practice activities for literature, grammar, and vocabulary</li>
        <li>Assisted colleagues with creation and maintenance of their own teacher web pages</li>
        <li>Created a grade-level hub site providing centralized access to each teacher’s website and to each students digital portfolio</li>
      </ul>
    </div>

    <div class="classroom">
      <p>I love sharing my interest in technology, especially when it comes to integrating technology in the classroom.

      <h5>Sharing Tech Innovations</h5>
      <ul class="classroom">
        <li>Led in-house professional development sessions at University School on creating class websites, using Google Docs, accepting (and evaluating) electronic assignments, etc.</li>
        <li>Co-presented workshop entitled "Paperless Papers: Google Apps in the Middle School Classroom" with Jake Wilson (then USN's technology coordinator)at the Biennial Technology Conference for the Tennessee Association of Independent Schools (TAIS).</li>
        <li>Poster proposal "Flip It, Flip It Well: Using GAFE for Grammar Instruction" accepted for presentation at the 2014 conference of the International Society for Technology in Education (ISTE).</li>
      </ul>
    </div>

  <div>
    <p>I'm an avid reader, self-taught knitter, tool-collecting carpenter, fearless seamstress, finally organized polymer artist, ever hopeful guitar student, unbelievably lucky wife, and sometimes exhausted mom of two teenagers.</p>
  </div>
</div>