<div ng-include="'./partials/banner.html'"></div>

<div class="container">
  <div class="bigwhite banner-bump">
   <h5>From English Teacher to Web Developer</h5>
    <p>I came to coding when, as a 7th grade English teacher, I realized that designing and creating technology tools had taken over the bulk of my prep time (and become the most fascinating aspect of my job). The lists below outline some of the ways I brought technology into my classroom and shared what I have learned with colleagues.</p>
    <p></p>

    <div class="classroom">
    <h6>Incorporating technology in my classroom:</h6>
      <ul class="classroom">
        <li>Paired with USN Technology Coordinator to create and teach tech/literature integrated classes.</li>
        <li>Piloted exclusive use of Google Docs for all writing assignments.</li>
        <li>Used Google documents to monitor and guide students during the writing process</li>
        <li>Built an extensive class website to provide information for students, parents, and tutors</li>
        <li>Created web-based assessments and practice activities for literature, grammar, and vocabulary</li>
        <li>Assisted colleagues with creation and maintenance of their own teacher web pages</li>
        <li>Created a grade-level hub for centralized access to teacher websites and student digital portfolios</li>
      </ul>

      <h6>Sharing Tech Innovations</h6>
      <ul class="classroom">
        <li>Led in-house professional development sessions at University School on creating class websites, using Google Docs, accepting (and evaluating) electronic assignments.</li>
        <li>Co-presented workshop: "Paperless Papers: Google Apps in the Middle School Classroom" Biennial Technology Conference for the Tennessee Association of Independent Schools (TAIS).</li>
        <li>Poster proposal "Flip It, Flip It Well: Using GAFE for Grammar Instruction" accepted for presentation at the 2014 conference of the International Society for Technology in Education (ISTE).</li>
      </ul>

      <p>While I miss the excitement of my middle school students, I'm completely in love with the many-faceted challenges of full-stack coding.</p>
    </div>

    <img src="./img/boxofme_cropped.jpg" alt="Box of crafting items">

    <p class="deep">I'm an avid reader, self-taught knitter, tool-collecting carpenter, fearless seamstress, finally organized polymer artist, ever hopeful guitar student, unbelievably lucky wife, and sometimes exhausted mom of two teenagers.</p>
  </div>
</div>