<div ng-include="'./partials/banner.html'"></div>

<div class="container">

  <div class="icons">
    <a href="https://www.linkedin.com/in/katyerussell"><img src="./img/icon-linkdin.png" alt="LinkedIn icon"></a>
    <a href="mailto:katye.russell@gmail.com"><img src="./img/icon-email.png" alt="Email icon"></a>
    <a href="https://github.com/complikatyed"><img src="./img/icon-github.png" alt="GitHub icon"></a>
    <a href="https://twitter.com/complikatyed"><img src="./img/icon-twitter.png" alt="Twitter icon"></a>
    <a href="https://www.youtube.com/channel/UC4RhvGh-stt-trCr1FLlMqg"><img src="./img/icon-youtube.png" alt="YouTube icon"></a>
  </div>





</div>
