<div ng-include="'./partials/banner.html'"></div>

<div class="container">

  <div ng-include="'./partials/contact.html'"></div>

  <div class="row hide-on-med-and-up">
    <a class="onblue col s6 center-align" href="/#/projects"><h5 class="onblue">Projects</h5></a>
    <a class="onblue col s6 center-align" href="/#/resume"><h5 class="onblue">Resume</h5></a>
  </div>

  <div class="row home part-one valign-wrapper">

    <div class="col s12 m6 l4 valign">
      <img class="home" src="./img/headshot46_small.jpeg" alt="Katye Russell headshot image">
    </div>

    <div class="col s12 m6 l7 offset-l1 whitespace">
      <h5 class="hide-on-small-only">From English Teacher to Web Developer</h5>
      <p class="hide-on-med-and-down">My favorite part of teaching (aside from talking books with my 7th graders, which I still miss) was imagining new ways to present my curriculum. Who knew Google Docs could be the tech equivalent of a gateway drug?</p>
      <p class="hide-on-med-and-down">Moving my students to on-line writing let me monitor and comment on their work across the writing process. Customized Google forms quickly became my standard practice and assessment tools, and my <a href="https://sites.google.com/site/e7amp2/">class Google site</a> brought together vocabulary, grammar, literature, and writing. At that point it just made sense to start taping videos and try flipping my classroom altogether.</p>
      <p class="hide-on-med-and-down"></p>

      <p class="hide-on-large-only hide-on-small-only font-ensmallen">I left the classroom to train as a developer when I realized that designing and creating Google-based tech tools had taken over the bulk of my prep time (and become the most fascinating aspect of my job).</p>
      <p class="hide-on-large-only hide-on-small-only font-ensmallen">While I miss the excitement of my middle school students, I'm completely in love with the challenges of full-stack coding.</p>
      <p class="hide-on-large-only hide-on-small-only"></p>
    </div>

  </div>

  <div class="row home part-two valign-wrapper">

    <div class="col s12 m6 l7 whitespace hide-on-med-and-down">
      <h5 class="hide-on-small-only">Everything Clicks at Nashville CLICK</h5>
      <p>Designing and creating technology tools had taken over the bulk of my prep time (and become the most fascinating aspect of my job), but I wasn't brave enough to leave the classroom, yet.</p>
      <p>Nashville CLICK, an event that paired teachers with working developers for a day of coding, gave me the confidence I needed to take the next step. I was finally ready to create teaching and learning tools beyond the limits of Google Apps for Education.</p>
      <p>Two months later I quit my job at University School of Nashville and decided to apply to NSS.</p>
    </div>

    <div class="col s12 m6 l4 offset-l1 hide-on-med-and-down">
      <a href="/#/about"><img class="home" src="./img/Clickcode.jpg" alt="Twitter image posted by William Golden"></a>
    </div>
  </div>

  <div class="row part-three valign-wrapper">

    <div class="col s12">
      <img class="col s8 offset-s2 bigpicture responsive-image" src="./img/NSSC8.PNG" alt="Women of Cohort 8">
    </div>
  </div>


</div>

